{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Editar datos de alumno</h1>
            <br>
    
            <div class="text-center">
                <button type="button" class="btn btn-primary">
                    <a href="{% url 'alumnosAdd' %}" class="text-decoration-none text-white">Agregar</a>
                </button>
            </div>
            <br>
    
            <table class="table table-striped table-bordered">
                {% if alumnos %}
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Apellido P.</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in alumnos %}
                            <tr>
                                <td>{{ x.rut }}</td>
                                <td>{{ x.nombre }}</td>
                                <td>{{ x.apellido_paterno }}</td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <a href="{% url 'alumnos_del' pk=x.rut %}" class="btn btn-danger btn-sm">Eliminar</a>
                                        <a href="{% url 'alumnos_findEdit' pk=x.rut %}" class="btn btn-primary btn-sm">Modificar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
        <div id="idMensajes" class="alert text-center">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
                $("#idMensajes").delay(2000).fadeOut("slow");
            });
    </script>
    
    </body>
</html>